<div class="container">
    <div class="page-header">
        <h1>Warranty</h1>
    </div>
    <div class="row">
        <div class="col-md-4">
            <products-list list="products.productsList"
                           selected-product="products.selectedProduct"
                           select="products.selectProduct(product)"
                           add="products.addProduct(name, period)"></products-list>
        </div>
        <div class="col-md-8">
            <p class="bg-info" style="padding: 15px;" ng-if="!products.selectedProduct">
                Please select product from list
            </p>
            <product-details
                    ng-if="!!products.selectedProduct"
                    selected-product="products.selectedProduct"
                    options="products.detailsOptions"
                    upload-url="products.uploadUrl"
                    image-url="products.imageUrl"
                    remove="products.deleteProduct()"
                    save="products.updateProduct(product)"></product-details>
        </div>
    </div>
</div>