<!DOCTYPE html>
<html lang="en" ng-app="warrantyApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Warranty</title>
</head>

<body ng-controller="mainController as mainCtrl">
<header-navbar authenticated="mainCtrl.authenticated" logout="mainCtrl.logout()"></header-navbar>

<div class="main-view" ng-if="!mainCtrl.authenticated">
    <div class="jumbotron">
        <p>Please login or register to see your products list</p>
    </div>
</div>

<div class="main-view" ng-if="mainCtrl.authenticated">
    <ui-view></ui-view>
</div>

<footer class="footer">
    <div class="container">
        <p class="text-muted"></p>
    </div>
</footer>
</body>
</html>
